/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	color: #252525;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em; 
	background-color: #ffffff;
	background-image: url(images/templatemo_body.jpg); 
	background-repeat: repeat-x;
	background-position: top
}

a, a:link, a:visited { color: #0099FF; font-weight: 400; text-decoration: none; }
a:hover { color: #CC9933; text-decoration: none; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
em { color: #000; font-weight: bold; font-style: normal }

h1, h2, h3, h4, h5, h6 { color: #89a313; font-weight: normal; }
h1 { font-size: 28px; margin: 0 0 20px 0; padding: 5px 0 }
h2 { font-size: 25px; margin: 0 0 15px 0; padding: 5px 0; }
h3 { font-size: 22px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

a.more { clear: both; display: block; width: 109px; height: 31px; line-height: 31px; font-size: 11px; text-align: center; color: #333; font-weight: 700; background: url(images/templatemo_readmore.png) no-repeat }
a.more:hover { text-decoration: none; color: #000; }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { display: inline-block; border: 5px solid #fff; background: none; margin-bottom: 5px }
.image_fl { float: left; margin: 3px 15px 0 0 }
.image_fr { float: right; margin: 3px 0 0 15px }


.tmo_list { margin: 10px 0 10px 10px; padding: 0; list-style: none }
.tmo_list li { margin: 0; padding: 0 0 0 30px; background: url(images/templatemo_list.png) no-repeat scroll 0 7px  }

/* ------------------ */

.fp_services_title {cursor:default;}

#templatemo_body_wrapper {
	width: 100%;
	background: url(images/templatemo_wrapper_bottom.png) repeat-x bottom
}

#templatemo_wrapper {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto
}

#templatemo_header {
	width: 960px;
	height: 50px;
	padding: 30px 0 0;
}

#site_title { float: left; }
#site_title h1 { margin: 0; padding: 0 }
#site_title h1 a { display: block; width: 327px; height: 45px; color: #fff; font-size: 40px; font-weight: 700; text-indent: 68px; }

/* menu */
#templatemo_menu {
	float: right;
	width: 500px;
	height: 45px;
}

#templatemo_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	width: 82px;
	height: 40px;
	padding: 5px 0 0 0;
	margin-left: 1px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: #fff;	
	font-weight: 400;
	outline: none;
}

#templatemo_menu ul li a:hover, #templatemo_menu ul li .current { color: #000; background: url(images/templatemo_menu_hover.png) bottom center no-repeat }


/* end of menu */


#templatemo_middle {
	clear: both;
	width: 960px;
	height: 300px;
	padding: 30px 0 0;
}

#mid_img_wrap {
	float: left;
	position: relative;
	width: 300px;
	height: 250px;
}

#mid_img_wrap span {
	position: absolute;
	width: 300px;
	height: 240px;
	top: 0;
	left: 0;
}

#mid_img_wrap img {
	margin: 0px 30px;
}

#mid_right {
	float: right;
	width: 500px;
	color: #fff;
}

#mid_right p { margin-bottom: 20px }

#mid_title { 
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 30px
}

#templatemo_main {
	clear: both;
	width: 960px;
	padding: 40px 0 0;
}

.col_w960 {clear: both; width: 960px; padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #ccc }
.col_w960_last { margin: 0; border: 0 }
.col_w600 { width: 600px }
.col_w450 { width: 450px }
.col_w300 { width: 300px }
.col_w200 { width: 200px; margin-right: 50px; }
.col_allw300 { width: 300px; float: left; margin-right: 30px }
.col_last { margin: 0 }

.fp_services_box { float: left; width: 300px; margin-right: 30px }
.last_box { margin: 0 }
.fp_services_box .fps_title { margin-bottom: 20px; font-size: 28px; color: #89a313 }
.fp_services_box p { float: right; width: 200px; margin-bottom: 20px }

#templatemo_footer_wrapper {
	clear: both;
	width: 100%;
	background: url(images/templatemo_footer.jpg) repeat-x
}

#templatemo_footer {
	width: 960px;
	height: 8px;
	padding: 20px 0 0;
	margin: 0 auto;
	color: #545454;
}

.footer_title {
	display: block;
	height: 8px;
	margin-bottom: 10px
}

.footer_title h5 {
	color: #ceb31c;
	margin-bottom: 0
}

.twitter h5 { color: #47add3 }

.footer_title img {
	float: left;
	margin-right: 20px;
}

#copyright {
	clear: both;
	width: 960px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	color: #9a9a9a;
}
#copyright a { color: #fff }